.request-log__card {
  display: flex;
  justify-content: space-between;
}

.request-log__empty {
  margin-top: .5rem;
  font-weight: bold;
}

.request-log__card__details__value {
  line-break: anywhere;
}
