#app {
    height: 100vh;
    text-align: center;
}

.heading {
    margin: 0 12px;
    border-bottom: 1px dotted #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading__logo {
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-weight: 900;
    margin: 4px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.tabs {
    padding: 0 12px;
}

.content {
    height: calc(100vh - 114px);
    overflow-y: auto;
    padding: 0 12px;
}

.footer {
    position: absolute !important;
    bottom: 0;
    left: 0;
    width: 100vw;
}
