html {
    background-color: rgba(27, 38, 54, 1);
    text-align: center;
    color: white;
}

body {
    margin: 0;
    color: white;
    font-family: Helvetica, Arial, system-ui, sans-serif;
}

#app {
    height: 100vh;
    text-align: center;
}
