.settings-manager {
  margin-top: 4px;
}

.settings-manager__section-header {
  border-radius: 2px 2px 0 0;
  font-weight: bold;
}

.settings-manager__section--app {
  border: 1px solid #245ac7;
  border-radius: 4px;
  margin-bottom: 8px;
}

.settings-manager__section--advanced {
  border: 1px solid #fbb360;
  border-radius: 4px;
  margin-bottom: 4px;
}

.settings-manager__ignored-hosts-input {
  width: 100% !important;
  max-height: 40vh;
}

.settings-manager__section-body {
  padding: 10px 10px 0 10px;
}

.settings-manager__about {
  margin-top: 16px;
  text-align: center;
  font-size: 0.8rem;
}

.settings-manager__about-changelog::before {
  content: ' ';
}

.settings-manager__about-github-button {
  font-size: 0.8rem;
}
